@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-blend-difference:hover {
  mix-blend-mode: difference;
  background-color: white;
}

body {
  background-color: #00052b;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cv-box {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.home-box {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.home-text {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.cv-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease;
  z-index: 0;
}

.cv-box:hover::before {
  left: 0;
}

.cv-text {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.cv-box:hover .cv-text {
  color: black;
}

.skill-box {
  max-width: 350px;
  flex-grow: 1;
}

.aos-animate {
  animation-fill-mode: forwards;
}

[data-aos].aos-animate {
  pointer-events: none;
}

[data-aos].aos-animate[data-aos-delay='300'] {
  animation-delay: 0.3s;
  pointer-events: all;
}

[data-aos].aos-animate[data-aos-delay='600'] {
  animation-delay: 0.6s;
  pointer-events: all;
}

[data-aos].aos-animate[data-aos-delay='900'] {
  animation-delay: 0.9s;
  pointer-events: all;
}

.link-hover-effect:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@keyframes flyRocket {
  from {
    transform: translateX(100vw) scale(0.1) rotate(45deg);
  }
  to {
    transform: translateX(-100vw) scale(0.1) rotate(45deg);
  }
}

@keyframes moveRocket {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.rocket-ship {
  animation: moveRocket 5s linear infinite;
}
.cvTreeBox::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(10% + 50px);
  background-color: white;
}

.cvTree {
  position: relative;
  height: 1050px;
  width: 2px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cvTreeMobile {
  position: relative;
  height: 1600px;
  width: 2px;
  background-color: white;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cvTreeBox.cv-tree-box-1::before {
  content: '';
  position: absolute;
  top: 3.6%;
  left: 101%;
  height: 2px;
  width: 230px;
  background-color: white;
  z-index: 1;
}

.cvTreeBox.cv-tree-box-2::before {
  content: '';
  position: absolute;
  top: 3.7%;
  left: 101%;
  height: 2px;
  width: 230px;
  background-color: white;
  z-index: 1;
}

.cvTreeBox.cv-tree-box-3::before {
  content: '';
  position: absolute;
  top: 4%;
  left: 0%;
  height: 2px;
  width: 240px;
  background-color: white;
  z-index: 1;
}

.cvTreeBox {
  position: absolute;
  width: 350px;
}

.cv-tree-box-1 {
  top: 10%;
  right: 120px;
}

.cv-tree-box-2 {
  top: 98%;
  right: 120px;
}

.cv-tree-box-3 {
  top: 55%;
  left: 120px;
}

.cvOnlineLogo {
  top: 10%;
  z-index: 2;
}

.CvLogoBoxOne {
  position: absolute;
  top: 11.7%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 5px;
  z-index: 3;
  background-color: rgb(82, 0, 96);
  border: solid white;
}

.CvLogoBoxTwo {
  position: absolute;
  top: 57.5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 5px;
  z-index: 3;
  background-color: white;
  border: solid white;
}

.CvLogoBoxThree {
  position: absolute;
  top: 99.5%;
  transform: translate(-50%, -50%);
  border-radius: 70%;
  padding: 10px;
  z-index: 3;
  background-color: white;
  border: solid white;
}

.CvInfoBoxOne {
  position: absolute;
  width: 250px;
  top: 10.5%;
  left: 40px;
  z-index: 5;
}

.CvInfoBoxTwo {
  position: absolute;
  width: 300px;
  top: 55.8%;
  right: 5px;
  z-index: 5;
}

.CvInfoBoxThree {
  position: absolute;
  width: 300px;
  top: 98.5%;
  left: 65px;
  z-index: 5;
}

.SpaceTheme {
  position: relative;
  height: 1050px;
  width: 2px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ContactMeFormDesktop {
  position: relative;
  top: 105%;
  right: -635px;
  transform: translate(-50%, -50%);
}

.ContactMeText {
  position: relative;
  top: 137.5%;
  width: 200px;
  left: -100px;
}

.Contact-Me-Image {
  position: relative;
  top: 10%;
  right: -635px;
  transform: translate(50%, -130%);
}

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.Projects {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 20px; 

}

.Skills {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 20px; 

}

@media screen and (max-width: 1000px) {
  .hide-on-desktop {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .hide-on-desktop {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .hide-on-mobile {
    display: block;
  }
}
